<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Authentification</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="form-group">
          <label class="control-label spacer-right">Username:</label>
          <input [ngModel] [required] class="form-control" name="username" type="text">
        </div>
        <div class="form-group">
          <label class="control-label spacer-right">Password:</label>
          <input [ngModel] [required] class="form-control" name="password" type="password">
        </div>
        <button [disabled]="!f.valid" class="btn btn-primary spacer-right" type="submit">Login</button>
        <!--      <button (click)="onRegister()" class="btn btn-success" [disabled]="!f.valid">Register New User</button>-->
      </form>
    </div>
  </div>
</div>
